.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e1e2e2;
  width: 250px;
  height: 50px;
  color: #1d2228;
}

.pagination-number {
  text-align: center;
  width: 150px;
  padding: 0 10px;
}

.divider {
  background-color: rgba(29, 34, 40, 0.05);
  width: 1px;
  height: 100%;
  padding: 0;
}

.pagination button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  font-size: 2em;
  cursor: pointer;
  padding: 0;
}

.pagination button:hover {
  background-color: rgba(29, 34, 40, 0.05);
}

.pagination button:focus {
  outline: #fb8122 solid 1px;
}
