.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 1rem;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  height: 40px;
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}

.menu .active {
  color: #fff;
  font-weight: 700;
}

.menu button:hover {
  color: #fff;
  background-color: #ff0038;
  border-radius: 5rem;
}

.active:hover {
  color: #fff;
}
