.watching--backdrop {
  position: relative;
  height: 30em;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  border-radius: 3px;
}

.backdrop--info-mobile {
  visibility: hidden;
}

.backdrop--info {
  background: rgb(0, 0, 0);
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 2.5em;
  justify-content: center;
  flex-direction: column;
}

.backdrop--info-title {
  font-size: 4em;
}

.backdrop--info-overview {
  margin-top: 0.5em;
  font-size: 0.95em;
  max-width: 35%;
}

@media (max-width: 768px) {
  .backdrop--info {
    visibility: hidden;
  }

  .backdrop--info-mobile {
    visibility: visible;
  }

  .watching--backdrop {
    height: 10em;
  }

  .backdrop--info-title {
    font-size: 1.5em;
    margin: 0.25em 0;
  }

  .backdrop--info-overview {
    width: 100%;
    max-width: 100%;
  }
}
