.movie {
  width: 300px;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #1d2228;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info small,
.movie h3 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-info span {
  background-color: #1d2228;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1rem;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.movie-info span.default {
  color: #e1e2e2;
}

.overview {
  background-color: #fff;
  padding: 0.75rem 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  color: #1d2228;
  font-size: 1rem;
}

.overview h3 {
  margin: 1rem 0 0;
}

.movie:hover .overview {
  transform: translateY(0);
}

@media (max-width: 800px) {
  .movie {
    width: 40%;
  }
}
