.card {
  background-color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.card img {
  width: 100%;
}

.card-info {
  color: #1d2228;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0.75rem 1rem;
  letter-spacing: 0.5px;
}

.card-info h3 {
  margin: 0;
}

.card-info small,
.card h3 {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.overview {
  background-color: #fff;
  padding: 1rem 1.1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  color: #1d2228;
  font-size: 0.9rem;
  cursor: default;
}

.overview h4 {
  margin: 1rem 0 0;
}

.card:hover .overview {
  transform: translateY(0);
}
