h2 {
  margin: 0;
}

.container--no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.fc-film-reel {
  font-size: 10em;
}

.no-results--btn {
  background-color: #fb8122;
  color: #fff;
  font-size: 1.125rem;
  padding: 1em;
  margin: 1em 0 0;
}

.no-results--btn:hover {
  transform: scale(0.98);
}

.container--no-results small {
  text-align: center;
}
