@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

html {
  transition: all 0.4s ease-in;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1d2228;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  padding: 2em 4em;
  color: #fff;
  height: 100vh;
  transition: 0.4s ease;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header h1,
.app-header--mobile h1 {
  margin: 0 0.5em 0 0;
  color: #fb8122;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.search {
  background-color: transparent;
  border: 2px solid #e1e2e2;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #fff;
}

.search:focus {
  outline: none;
  background-color: #e1e2e2;
  color: #1d2228;
}

.app-header--nav {
  display: flex;
  flex: 2;
}

.app-header--mobile {
  display: none;
}

.section-pagination {
  background-color: #e1e2e2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .app-header {
    display: none;
  }

  .app-header--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .app-header--mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .search {
    width: 80vw;
  }
}
