@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

/* html {
  transition: all 0.4s 1s ease-in;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

button:focus {
  outline: none;
}

button > * {
  pointer-events: none;
}

body {
  background-color: #020509;
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0 auto;
  padding: 2em;
  color: #fff;
  height: 100vh;
  /* transition: 0.4s ease; */
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #020509;
  width: 96vw;
  padding: 1em 0;
}

.logo {
  margin: 0 1rem 0 0;
  width: 5rem;
  padding: 0.125rem 0.5rem;
  cursor: pointer;
}

.app-main {
  margin-top: 4rem;
}

.search {
  background-color: transparent;
  border: 2px solid #e1e2e2;
  border-radius: 50px;
  font-family: inherit;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search:focus {
  outline: none;
}

.app-header--nav {
  display: flex;
  flex: 1;
}

.app-header--mobile {
  display: none;
}

.section-pagination {
  background-color: #e1e2e2;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container h2 {
  font-size: 1.5rem;
}

.card-group--content {
  padding: 1rem 0.5rem;
  width: 14%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  height: 40px;
  letter-spacing: 0.05em;
  font-size: 0.875rem;
}

.menu .active {
  color: #fff;
  font-weight: 700;
}

.menu a:hover {
  color: #fff;
  background-color: #ff0038;
  border-radius: 5rem;
}

.active:hover {
  color: #fff;
}

@media (max-width: 1024px) {
  .card-group--content {
    width: 16.5%;
  }

  .app-header--mobile .search {
    margin: 1rem;
  }
}

@media (max-width: 768px) {
  body {
    padding: 1em;
  }

  .app {
    padding-bottom: 60px;
  }

  .app-header {
    display: none;
  }

  .app-header--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .app-header--mobile-nav {
    display: none;
  }

  .search {
    width: 80vw;
  }

  .app-main {
    margin: 0;
  }

  .card-group--content {
    width: 25%;
  }
}
