.card-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container h2 {
  margin: 1em 0;
}

.card-group--content {
  margin: 1rem 0;
  width: calc((100vw -1em) / 6);
}

@media (max-width: 1024px) {
  .card-group--content {
    width: calc((100vw -1em) / 5);
  }
}

@media (max-width: 768px) {
  .card-group--content {
    width: calc((100vw -1em) / 4);
  }
}

@media (max-width: 500px) {
  .card-group--content {
    width: 100%;
  }
}
