.card-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container h2 {
  font-size: 1.5rem;
}

.card-group--content {
  padding: 1rem;
  width: calc((100vw -1em) / 6);
}

@media (max-width: 1024px) {
  .card-group--content {
    width: calc(100vw / 5);
  }
}

@media (max-width: 768px) {
  .container h2 {
    margin: 0;
  }

  .card-group--content {
    padding: 0.5rem;
  }
}
